BOT_TOKEN=put_your_token_here
OUR_CODES=0104674616026
ADMIN_CHAT_IDS=123456789,987654321
DB_PATH=data/data.db
CATALOG_URL=https://ukataka.ru/#katalog
WB_URL=https://www.wildberries.ru/brands/1021574-ukataka
TG_CHANNEL_URL=https://t.me/UkaTakaBrand
CERTS_URL=https://ukataka.ru/blog
FAQ_URL=https://ukataka.ru/kak-rabotaet-zaschita
TRUST_RESEARCH_URL=https://ukataka.ru/kak-rabotaet-zaschita
FABRIC_TEST_URL=https://ukataka.ru/blog/7byy9dn2k1-kak-mi-testiruem-tkan
SPREADSHEET_ID=your_spreadsheet_id
SHEET_NAME=Sheet1

